<div class="w-full min-h-screen flex justify-center">
    <app-blog-header class="grow-2 w-full justify-end hidden md:flex bg-black/5"/>
    <div class="grow-3 w-full">
        <div class="w-full py-8 px-4 flex flex-col gap-6">
            <div class="text-2xl font-bold">{{data?.title}}</div>
            <div class="flex flex-col border-t-2 border-b-2 max-w-full md:w-[600px] w-full text-black/60 py-6 px-2 text-md"
                bind-innerHTML="data?.contents"></div>
            <div *ngIf="isOwner == true" class="flex gap-2">
                <div class="mt-2 py-2 rounded bg-blue-500/70 text-white text-center w-[80px] cursor-pointer" (click)="onEdit()">수정</div>
                <div class="mt-2 py-2 rounded bg-red-500/70 text-white text-center w-[80px] cursor-pointer" (click)="onDelete()">삭제</div>
            </div>
        </div>
    </div>
</div>